html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.titleTotal {
  display: flex;
  justify-content: space-between;
  .titleLeft {
    font-size: 16px;
    font-family: PingFang SC-Medium, PingFang SC;
    font-weight: 500;
    color: #19191a;
    font-weight: bolder;
  }
}
.baseVisible{
  .ant-modal-body{
    height: 70vh;
    overflow-y: scroll;
  }
}
.flex{
display: flex;
}

.flex1{
flex: 1;
}

.flex0{
flex: 0;
}

.flex-end{
justify-content: flex-end;
}

.flex-center{
justify-content: center;
}

.flex-a-t{
align-items: flex-start;
}

.flex-space-between{
justify-content: space-between ;
}

.flex-warp{
flex-wrap: wrap;
}

.flex-space-around{
justify-content: space-around;
}

.flex-align-center{
align-items: center;
}

.flex-align-end{
align-items: flex-end;
}